@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --color--primario: #111212 ;
    --color--secundario: #0dcdd6;
    --color--terciario: #F6F6F6;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", serif;
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color--primario) ;
    color: var(--color--terciario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0 0 6%;
    
}

.header_menu{
    display: flex;
    gap: 50px;
}

.header_menu_link{
    font-family: var(--fuente-montserrat);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color--secundario);
    text-decoration: none;
}

.header_menu_link_end{
    font-family: var(--fuente-montserrat);
    font-size: 2rem;
    font-weight: 600;
    color: #c6f6fa;
    text-decoration: none;
    margin-left: 24.5rem;
}

.title-destaque{
    color: var(--color--secundario);
}

.container{
    display: flex;
    align-items: center;
    padding: 4% 6%;
    justify-content: space-between;
    flex-direction: column;
}

.container_section_content{
    display: flex;
    gap: 120px;
    padding-bottom: 10%;
    align-items: center;
    width: 100%;
}

.container_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_content_title{
    font-size:1rem;
    font-family: var(--fuente-montserrat);
    text-align: center;
    color: #219fa9;
}

.container_content_name{
    font-size:  2.5rem;
    font-family: var(--fuente-krona);
    text-align: center;
}

.container_enlaces{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container_enlaces_link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.container_enlaces_link img {
    width: 20px;
}

.container_enlaces_link:hover {
    background-color:var(--color--primario);
}

.imagen_personal{
    width: 31%;
}

.footer {
    background-color: var(--color--secundario);
    padding: 20px;
    color: var(--color--primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
}


@media (max-width: 1200px){
    
    .header{
        padding: 5%;
    }

    .header_menu{
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .container_content {
        width: auto;
    }

    .imagen_personal{
        width: 50%;
    }

}